* {
  list-style-type: none !important;
  text-decoration: none !important;
  scroll-behavior: smooth;
}

:root {

  --fs-xxs: 14px;
  --fs-xs: 14px;
  --fs-sm: 18px;
  --fs-md: 16px;
  --fs-2md: 20px;
  --fs-lg: 28px;
  --fs-xl: 24px;
  --fs-2xl: 34px;
  --fs-3xl: 52px;
  /* ------------ font clr--------- */
  --fc-white: #FFFFFF;
  --fc-black: #000000;
  --fc-orange: #FA6A00;
 --fc-yellow :#FB842CB2;
  --fc-grey: #636363;
  --fc-blue: #101A2E;
  --fc-lightblue: #E3FAFF0D;


  /* --fc-lightblack: #4D4D4D; */
}

/* }================= color =================== */
.clr-white {
  color: var(--fc-white);
}

.clr-grey {
  color: var(--fc-grey);
}

.clr-orange {
  color: var(--fc-orange);
}
.clr-blue{
  color: var(--fc-blue);
}

/* ====================== font size ========================= */
.text-14 {
  font-size: var(--fs-xxxs);
}

.text-16 {
  font-size: var(--fs-xs);
}

.text-18 {
  font-size: var(--fs-sm);
}

.text-20 {
  font-size: var(--fs-md);
}

.text-24 {
  font-size: var(--fs-2md);
}

.text-28 {
  font-size: var(--fs-lg);
}

.text-32 {
  font-size: var(--fs-xl);
}

.text-48 {
  font-size: var(--fs-2xl);
}

.text-96 {
  font-size: var(--fs-3xl);
}

/* ====================== line height =============================== */
.lh-14 {
  line-height: 14px;
}

.lh-16 {
  line-height: 16.8px;
}

.lh-19 {
  line-height: 15px;
}

.lh-21 {
  line-height: 21.6px;
}

.lh-22 {
  line-height: 22.4px;
}

.lh-24 {
  line-height: 20px;
}

.lh-25 {
  line-height: 25.6px;
}

.lh-27 {
  line-height: 27px;
}

.lh-30 {
  line-height: 30px;
}

.lh-33 {
  line-height: 33.6px;
}

.lh-43 {
  line-height: 28.57px;
}

.lh-36 {
  line-height: 36px;
}

.lh-39 {
  line-height: 39.2px;
}

.lh-44 {
  line-height: 30.8px;
}

.lh-57 {
  line-height: 37px;
}

.lh-115 {
  line-height: 55px;
}

/* ==================== font weight =================== */
.fw-normal {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

.fw-semibold {
  font-weight: 600;
}

@font-face {
  font-family: 'Acumin Pro', sans-serif;
  src: url(./assets/Font/acumin-pro-cufonfonts/Acumin-BdItPro.otf);
}

.ff-acumin {
  font-family: 'Acumin Pro', sans-serif;
  ;
}

@font-face {
  font-family: 'TitlingGothicFB Cond';
  src: url(./assets/Font/titlinggothicfb-comp3/TitlingGothicFBComp-Bold.otf)
}

.ff-titling {
  font-family: 'TitlingGothicFB Cond', sans-serif;
  
}

.hero-bg-img {
  background-image: url(./assets/images/png/hero-bg-img.png);
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
}

.opacity_70 {
  opacity: 70%;
}

.gap-10 {
  gap: 10px;
}

.pt-14 {
  padding-top: 14px;
}

.nav_box {
  /* max-width: 1230px; */
  width: 100%;
  padding: 1px 25px;
  /* height: 70px; */
  background: var(--fc-white);
  border-radius: 16px;
}

.gap-24 {
  gap: 24px;
}

.call-btn {
  padding: 20px;
  border-radius: 84px;
  background: var(--fc-orange);
  box-shadow: 0px 0px 26.2px 0px #FA6A0099;
  border: 1px solid transparent;
}

.mt-14 {
  margin-top: 14px;
}

.d_none {
  display: none;
}

.nav_text:hover {
  color: var(--fc-orange);
}

.btn-style {
  transition: all 200ms linear;
}

.btn-style:hover {
  background: var(--fc-white);
  border: 1px solid var(--fc-orange);
  color: var(--fc-orange);
}

.max-w-730 {
  max-width: 730px;
}

.btnn {
  padding: 15px;
  border-radius: 84px;
  background: var(--fc-orange);
  box-shadow: 0px 0px 26.2px 0px #FA6A0099;
  border: 1px solid transparent;
  transition: all 200ms linear;
}

.max-w-172 {
  max-width: 172px !important;
}

.pb-16 {
  padding-bottom: 16px;
}

.small_box {
  max-width: 544px;
  border-radius: 16px;
  background: var(--fc-lightblue);
  padding: 22px 51px;
}

.gap_12 {
  gap: 12px;
}




.h_500{
  height: 500px;
}
.mt-15 {
  margin-top: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pt-20 {
  padding-top: 20px;
}

::-webkit-scrollbar {
  display: none;
}
.pt-10{
  padding-top: 10px;
}

/* ====================== future car cleaning =================== */
.future-bg-img {
  background-image: url(./assets/images/png/Future-bg-img.png);
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
}

.ps-lg-38{
  padding-left: 38px;
}

.max-w-289{
  max-width: 289px;
}
.pt-40{
  padding-top: 40px;
}
.mt-10{
  margin-top: 10px;
}
.pb-10{
  padding-bottom: 10px;
}
.pt-40 {
  padding-top: 40px;
}
/* ============================ understanding ====================== */
.understanding-bg-clr{
background: var(--fc-orange);
}
.h_lg_1024{
  height: 1024px;
}
.opacity_90{
  opacity: 90%;
}
.max_w_400{
  max-width: 400px;
}
.layer1{
  top: -25%;
}
.layer2{
  bottom: -32%;
}
.mt-lg-257{
  margin-top: 257px;
}
.mt_1{
  margin-top: -1px;
}
.mb_1{
  margin-bottom: -1px;
}
.max_w_452{
  max-width: 452px;
}
.max-w-451{
  max-width: 451px;
}
.gap_12{
  gap: 12px;
}
.mb-15{
  margin-bottom: 15px;
}
 .pb-20{
  padding-bottom: 20px;
}

.mb-10{
  margin-bottom: 10px;
}
.max-w-680{
  max-width: 680px;
}
.max-w-lg-1140{
  max-width: 1140px;
}
.max-w-770{
  max-width: 770px;
}
/* ================================ behind the scene ================================================= */
.behind-bg-img{
  background-image: url(./assets/images/png/bts-bg-img.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.max-w-592{
  max-width: 592px;
}
.get_box{
  max-width: 1140px;
  width: 100%;
  border: 6px solid var(--fc-yellow);
  box-shadow: 0px 0px 26.2px 0px #FA6A00CC;
  border-radius: 14px;
  padding: 30px 30px;
}
.opacity_80{
  opacity: 80%;
}
.max-w-440{
  max-width: 440px;
}
/* =========================== meet the team =============================================== */



@media (max-width:992px) {
  label[for="menu-icon"] {
    width: 40px !important;
    height: 27px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 5;

  }

  label[for="menu-icon"]>span {
    width: 100%;
    height: 4px;
    background: var(--fc-orange);
    position: relative;
    z-index: 2;

  }

  .menulist {
    flex-direction: column;
    background-color: var(--fc-blue);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 200ms linear;
    align-items: center;
    justify-content: center;
    z-index: 4;
  }

  input:checked~ul.menulist {
    right: 0;
  }
}

@media (min-width:576px) and (max-width:991.99px) {
  .diplay_property {
    display: block;
  }
}

@media (min-width:768px) {
 

  :root {
    --fs-3xl: 80px;
    --fs-md: 20px;
    --fs-2md: 24px;
    --fs-2xl: 48px;
    --fs-xs: 16px;
    --fs-xl: 32px;
  }

  .lh-115 {
    line-height: 90px;
  }

  .mt-md-25 {
    margin-top: 25px;
  }

  .pb-md-30 {
    padding-bottom: 30px;
  }
  .nav_box {
    /* max-width: 1230px; */
    width: 100%;
    padding: 9px 45px;
    /* height: 70px; */
    background: var(--fc-white);
    border-radius: 16px;
  }

  .btn-style {
    transition: all 200ms linear;
  }

  .btn-style:hover {
    background: var(--fc-white);
    border: 1px solid var(--fc-orange);
    color: var(--fc-orange);
  }
  .btnn {
    padding: 20px;
    border-radius: 84px;
    background: var(--fc-orange);
    box-shadow: 0px 0px 26.2px 0px #FA6A0099;
    border: 1px solid transparent;
    transition: all 200ms linear;
  }
  .pt-md-60{
    padding-top: 60px;
  }
  .pt-md-30{
    padding-top: 30px;
  }
  .lh-57 {
    line-height: 57.6px;
  }
  .mt-md-20{
    margin-top: 20px;
  }
  .lh-19 {
    line-height: 19.2px;
  }
  .lh-24 {
    line-height: 24px;
  }
  .max_w_md_558{
    max-width: 558px;
  }
  .pb-md-16{
    padding-bottom: 16px;
  }
  .gap-md-16{
    gap: 16px;
  }
  .h_md_700 {
    height: 700px;
  }
  .mb-md-18{
    margin-bottom: 18px;
  }
  .mb-md-28{
    margin-bottom: 28px;
  }
  .pb-md-60{
    padding-bottom: 60px;
  }
  .pb-md-16{
    padding-bottom: 16px;
  }
  .get_box{
    max-width: 1140px;
    width: 100%;
    border: 6px solid var(--fc-yellow);
    box-shadow: 0px 0px 26.2px 0px #FA6A00CC;
    border-radius: 14px;
    padding: 37px 60px;
    background:  0px 0px 26.2px 0px #FA6A00CC;
    ;
  }
  .lh-44 {
    line-height: 44.8px;
  }
 
}

@media (min-width:992px) {
  .diplay_property {
    display: none !important;
  }

  label {
    display: none !important;
  }

  .pt-lg-87 {
    padding-top: 87px;
  }

  .h_lg_954 {
    height: 954px;
  }

  :root {
    --fs-3xl: 96px;
  }

  .lh-115 {
    line-height: 115.2px;
  }

  .mt-lg-39 {
    margin-top: 39.5px
  }

  .pb-lg-40 {
    padding-bottom: 40px;
  }
  .max-w-518{
    max-width: 518px;
  }
  .max-w-558{
    max-width: 558px;
  }
  .max-w-351 {
    max-width: 300px;
  }
  .pt-lg-99{
    padding-top: 99px;
  }
  .pt-lg-80{
    padding-top: 80px;
  } 
  .Ice_pstn{
    top: 19%;
    right: 0;
  }
  .position_absolute{
    position: absolute;
  }
  .Ice_pstn{
    top: 21%;
    right: 0;
  }
  .ice_pstn-2{
    /* top: 90px; */
   left: -61px;
  }
  .pt-lg-129{
    padding-top: 129px;
  }
  .pt-lg-60{
    padding-top: 60px;
  }
  .mb-lg-28{
    margin-bottom: 28px;
  }
  .mb-lg-48{
    margin-bottom: 48px;
  }
  .pb-lg-121{
    padding-bottom: 121px;
  }
  .mt-lg-40{
    margin-top: 40px;
  }
  .mb-lg-50{
    margin-bottom: 50px;
  }
  .get_box{
    max-width: 1140px;
    width: 100%;
    border: 6px solid var(--fc-yellow);
    box-shadow: 0px 0px 26.2px 0px #FA6A00CC;
    border-radius: 14px;
    padding: 37px 185px;
  }
  .max-w-613{
    max-width: 613px;
  }
  .Meet-pstn{
    top: 0;
    left: 36px;
  }
  .mt-lg-223{
    margin-top: 223px !important;
  }
  .max-w-lg-611{
    max-width: 611px;
  }
}
@media (min-width:1200px) {
 .max_w_lg_452{
  max-width: 452px;
 }
 .min_vh_100{
  min-height: 100vh;
 }

}
@media (min-width:1439.99px) {
  .pt-xl-137{
    padding-top: 137px;
  } 
  .max_w_lg_728{
    max-width: 728px;
  }
  .h_xl_1024{
    height: 1024px;
  }
  .ice_pstn-2{
    top: 47%;
   left: -61px;
  }
  .pt-xl-217{
    padding-top: 217px;
  }
 
}

@media (min-width:1535.99px) {
  .flex_grow {
    flex-grow: 1 !important;
  }
  .align_items_center {
    align-items: center !important;
  }
  .justify_content_center {
    justify-content: center !important;
  }
  .layer1{
    top: -27%;
  }
  .mt-xl-280{
    margin-top: 280px;
  }
}

/* --fs-xxs: 14px;
--fs-xs: 16px;
--fs-sm: 18px;
--fs-md: 20px;
--fs-2md: 24px;
--fs-lg: 28px;
--fs-xl: 32px;
--fs-2xl: 48px;
--fs-3xl: 96px; */